<div class="py-8">
  <h1 class="text-2xl font-semibold text-white mb-2">Crie um baralho:</h1>
  <form [formGroup]="deckForm" (submit)="onSubmit(deckForm)" class="flex gap-4">
    <div class="w-full">
      <input
        type="text"
        formControlName="name"
        class="block w-full p-2 py-4 ps-10 text-sm border border-[#1E1E27] rounded-lg bg-[#1E1E27] focus:ring-blue-500 text-white focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [ngClass]="{
          'border-red-400': name.invalid && (name.dirty || name.touched)
        }"
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="absolute text-red-400 mt-2"
      >
        <div *ngIf="name.errors?.['required']">O nome é obrigatório!</div>
      </div>
    </div>
    <button
      type="submit"
      class="bg-primary w-60 py-2 px-10 rounded-xl text-sm font-bold hover:bg-primary-light transition-colors"
    >
      Criar um baralho
    </button>
  </form>
</div>
