<div class="bg-gradient-to-tr p-6 text-white border-b border-gray-700 mb-10">
  <div class="container mx-auto">
    <app-header-name [title]="deck?.name"></app-header-name>
    <div class="flex gap-4 my-6">
      <div class="flex gap-2">
        <app-badge [value]="quantityPokemons"></app-badge>
        <div>Pokemons</div>
      </div>
      <div class="flex gap-2">
        <app-badge [value]="quantityCouches"></app-badge>
        <div>Treinadores</div>
      </div>
    </div>
    <div *ngIf="types.length">
      <div class="mb-4">Tipos únicos</div>
      <div class="flex gap-2">
        <div
          *ngFor="let type of types"
          class="bg-black text-white px-4 rounded-lg"
        >
          {{ type }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-[#0E0E11] py-8">
  <div class="flex flex-wrap gap-4 container mx-auto">
    <div *ngFor="let card of cards">
      <img [src]="card.images.small" class="max-w-60" />
    </div>
  </div>
</div>
